@font-face {
  font-family: "SF Pro text";
  src: url("../fonts/SFProDisplay-Light.woff") format("woff"), 
       url("../fonts/SFProDisplay-Light.woff2") format("woff2"); 
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "SF Pro text";
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), 
       url("../fonts/SFProDisplay-Regular.woff2") format("woff2"); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro text";
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), 
       url("../fonts/SFProDisplay-Medium.woff2") format("woff2"); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro text";
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), 
       url("../fonts/SFProDisplay-Bold.woff2") format("woff2"); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro text";
  src: url("../fonts/SFProDisplay-Black.woff") format("woff"), 
       url("../fonts/SFProDisplay-Black.woff2") format("woff2"); 
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

