@media (max-width: 1313px) {
	.wrapper__text_content h1 {
	    font-size: 33px;
	}
	.wrapper__text_content p {
    	max-width: 370px;
    }
    .form button {
    padding: 20px 45px;
	}
	.form input {
		font-size: 10px;
		padding-top: 0;
	}

	.form label span {
		font-size: 11px;
	}
}

@media (max-width: 1024px) {
	.fixed-container {
		width: 100%;
	}
	.wrapper__text_content h1 {
	   padding-top: 80px;
	}
	.up-more {
		top: 130px;
    	max-width: 450px;
	}
	.up-more__left_text h2 {
		padding-bottom: 80px;
    	font-size: 20px;
	}
	.form {
		flex-wrap: wrap;
		padding-right: 40px;
		justify-content: flex-end;
	}
	.form label:first-child {
		flex: 0 0 100%;
		border-bottom-right-radius: 10px;
    	border-top-right-radius: 10px;
    	border-right: 1px solid #E7E7F2;
    	margin-bottom: 10px;
	}
	.form label:nth-child(2), .form label:nth-child(3) {
		flex: 1 0 25%;
		border-bottom-left-radius: 10px;
    	border-top-left-radius: 10px;
	}
	.form label:nth-child(3) {
		border-radius: 0; 
		flex: 1 0 25%;
	}
	.form label:nth-child(4) {
		flex: 1 0 25%;
		margin-right: 0;
	}
	.form button {
		margin-top: 10px;
    	flex: 0 0 100%;
	}

}

@media (max-width: 900px) {
	.up-more {
    	top: 245px;
    	max-width: 300px;
    }
    .up-more__left_text h2 {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }
    .wrapper__text_content h1 {
    	padding-top: 35px;
    	padding-bottom: 95px;
    	text-align: center;
	}
	.wrapper__text_content p {
    	margin-right: 300px;
	}

	.up-more__left_text {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.header_left ul, .header_right ul {
		font-size: 14px;
	}
	.header_left ul li:first-child {
    	padding-right: 30px;
	}
	.header_right ul li:first-child {
   	 	padding-right: 30px;
	}
	.header_center h2 {
		font-size: 18px;
		padding: 0 10px;
		text-align: center;
	}
}




@media (max-width: 576px) {
	.header_right ul li:nth-child(2) {
	    padding-right: 20px;
	}
	.header {
    	padding-top: 25px;
	}
	.header_content {
   		padding-bottom: 13px;
   	}
   	.header_content {
    	flex-wrap: wrap;

    }
    .form label:nth-child(2),
    .form label:nth-child(3) {
    	flex: 0 0 50%;
    	margin-bottom: 10px;
    }
    .form label:nth-child(3) {
    	border-bottom-right-radius: 10px;
	    border-top-right-radius: 10px;
	    border-right: 1px solid #E7E7F2;
    }
    .form label:nth-child(4) {
    	flex: 0 0 100%;
    	border-bottom-left-radius: 10px;
	    border-top-left-radius: 10px;
	    border-left: 1px solid #E7E7F2;
    }

}

@media (max-width: 500px) {
	.header_center {
    	order: -1;
    }
    .header_left {
    	order: 0;
    	align-self: flex-start;
    }
    .header_content {
       	flex-direction: column;
       	align-items: center;
       	justify-content: center;
    }
    .header_right {
		align-self: flex-end;
		order: -2;
    }

    .header_right ul li:first-child {
	    padding-right: 10px;
	}
	.header_left ul, .header_right ul {
	    font-size: 12px;
	}
	.form button {
	 	margin: 0 auto;
	 	margin-top: 10px;
	}
	.wrapper__text_content p {
		margin-top: 190px;
		margin-right: 0;
	}
	.wrapper__text_content {
		padding-bottom: 50px;
	}

	.form label:nth-child(2),
    .form label:nth-child(3) {
    	flex: 0 0 100%;
    }
	

	.form label:nth-child(2) {
		border-bottom-right-radius: 10px;
	    border-top-right-radius: 10px;
	    border-right: 1px solid #E7E7F2;
	}
	.form label:nth-child(3) {
		border-bottom-left-radius: 10px;
	    border-top-left-radius: 10px;
	    border-left: 1px solid #E7E7F2;
	}

	

}
